

AGENT_LOGGER_LOGS_LEVEL="DEBUG"

# REDIS_DO_NOT_FAIL_IF_REDIS_UNAVAILABLE="true"
# REDIS_HOST="localhost"
# REDIS_PORT="6379"
# REDIS_PASSWORD=""
# REDIS_SSL="false"

REDIS_DO_NOT_FAIL_IF_REDIS_UNAVAILABLE="true"
REDIS_HOST="azure-managed.westeurope.redis.azure.net"
REDIS_PORT="10000"
REDIS_PASSWORD="8DiSowsAfLVCBrHxYrNdbJgZnMWF1lhWUAZCAMVP6jU="
REDIS_SSL="true"

SEM_CACHE_REDIS_ENDPOINT="azure-managed.westeurope.redis.azure.net:10000"
SEM_CACHE_REDIS_PASSWORD="8DiSowsAfLVCBrHxYrNdbJgZnMWF1lhWUAZCAMVP6jU="
# SEM_CACHE_REDIS_USER="default"   default user is in use for Azure Redis, no need to specify

# =========================================================
# azure-managed.westeurope.redis.azure.net:10000
# Server status: Running - Balanced B1
# Location : West Europe
# Subscription (move):us106374-np-pm-des-3154
# Subscription ID:6107e5e7-b836-4417-b362-59c67cfaf0c1
# Endpoint:azure-managed.westeurope.redis.azure.net:10000

# Database status:Running
# Non-TLS access:Disabled
# Modules:RediSearch, RedisJSON
# Active geo-replication:None

# 8DiSowsAfLVCBrHxYrNdbJgZnMWF1lhWUAZCAMVP6jU=
# SdhhdNVx7Xgxxi7uu6p2lsmF7RF44EYcyAZCADU-W4s=

# =========================================================

MONGODB_URI="mongodb://localhost:27017/"
MONGODB_CHECKPOINT_DB_NAME="Checkpoints"
MONGODB_CHECKPOINT_COLLECTION_NAME="checkpoints"
MONGODB_NATURAL_LANGUAGE_DATABASE_NAME="sample_mflix"

MONGO_CHATHISTORY_CONNECTION_STRING = "mongodb://localhost:27017/"
MONGO_CHATHISTORY_DB_NAME = "ChatHistoryDB"
MONGO_CHATHISTORY_COLLECTION_NAME = "chathistory"
MONGODB_CHECKPOINT_WRITES_COLLECTION_NAME="checkpoints_writes"

LANGSMITH_TRACING="true"
LANGSMITH_TRACING_V2="true"
LANGSMITH_ENDPOINT="https://api.smith.langchain.com"
LANGSMITH_API_KEY="lsv2_pt_a6"
LANGSMITH_PROJECT='agentic-ai-hitl'


# Enbeddig Model
DKS_AZURE_EMBED_OPENAI_ENDPOINT = "https:// .cognitiveservices.azure.com/"
DKS_AZURE_EMBED_OPENAI_MODEL_NAME = "text-embedding-3-small"
DKS_AZURE_EMBED_OPENAI_DEPLOYMENT = "text-embedding-3-small"
DKS_AZURE_EMBED_OPENAI_API_KEY=""
DKS_AZURE_EMBED_OPENAI_API_VERSION = "2024-02-01"



#OPEN AI
DKS_OPENAI_API_KEY = 'sk-proj-'
DKS_OPENAI_MODEL = "gpt-4.1-nano"
DKS_OPENAI_MODEL_PROVIDER = "openai"

#AZURE
DKS_AZURE_OPENAI_API_KEY = ''
DKS_AZURE_OPENAI_ENDPOINT = ''
DKS_AZURE_OPENAI_MODEL_NAME = "gpt-4.1-nano"
DKS_AZURE_OPENAI_DEPLOYMENT_NAME = 'gpt-4.1-nano'
DKS_AZURE_OPENAI_API_VERSION = '2025-01-01-preview'


MONGO_AZURE_VECTOR_DATABASE_NAME="AzureDocuments"
MONGO_AZURE_VECTOR_COLLECTION_NAME="azurearchitecture"


GUARDRAILENABLED="true"


MCP_AGENT_ENABLED="true"
MCP_RAG_MONGO_NATURAL_LANGUAGE_SERVER_URL="http://localhost:8000/mcp"