

AGENT_LOGGER_LOGS_LEVEL="DEBUG"

REDIS_DO_NOT_FAIL_IF_REDIS_UNAVAILABLE="true"
REDIS_HOST="localhost"
REDIS_PORT="6379"
REDIS_PASSWORD=""
REDIS_SSL="false"

# =========================================================
# xxxxxxxxxxxx.westeurope.redis.azure.net:10000
# Server status: Running - Balanced B1
# Location : West Europe
# Subscription (move):xxxx-xxxx-xxxxx
# Subscription ID:xxxx-xxxx-xxxxx
# Endpoint:xxxxxxxxxxxx.westeurope.redis.azure.net:10000

# Database status:Running
# Non-TLS access:Disabled
# Modules:RediSearch, RedisJSON
# Active geo-replication:None

# KEYSKEYSKEYSKEYSKEYSKEYSKEYSKEYSKEYSKEYSKEYSKEYSKEYSKEYS
# KEYSKEYSKEYSKEYSKEYSKEYSKEYSKEYSKEYSKEYSKEYSKEYSKEYSKEYS

# =========================================================

MONGODB_URI="mongodb://localhost:27017/"
MONGODB_CHECKPOINT_DB_NAME="Checkpoints"
MONGODB_CHECKPOINT_COLLECTION_NAME="checkpoints"
MONGODB_NATURAL_LANGUAGE_DATABASE_NAME="sample_mflix"


MONGO_CHATHISTORY_CONNECTION_STRING = "mongodb://localhost:27017/"
MONGO_CHATHISTORY_DB_NAME = "ChatHistoryDB"
MONGO_CHATHISTORY_COLLECTION_NAME = "chathistory"
MONGODB_CHECKPOINT_WRITES_COLLECTION_NAME="checkpoints_writes"

LANGSMITH_TRACING=true
LANGSMITH_TRACING_V2=true
LANGSMITH_ENDPOINT="https://api.smith.langchain.com"
LANGSMITH_API_KEY="lsv2_pt_KEYSKEYSKEYSKEYSKEYSKEYSKEYSKEYSKEYSKEYSK"
LANGSMITH_PROJECT='agentic-ai-hitl'


# Enbeddig Model
DKS_AZURE_OPENAI_ENDPOINT = "https://FILL_THEMODEL.cognitiveservices.azure.com/"
DKS_AZURE_OPENAI_MODEL_NAME = "text-embedding-3-small"
DKS_AZURE_OPENAI_DEPLOYMENT = "text-embedding-3-small"
DKS_AZURE_OPENAI_API_KEY="FILL_THE_KEY"
DKS_AZURE_OPENAI_API_VERSION = "2024-02-01"
# "https://FILL_THEMODEL.cognitiveservices.azure.com/openai/deployments/text-embedding-3-small/embeddings?api-version=2023-05-15"



#OPEN AI
DKS_OPENAI_API_KEY = 'sk-proj-FILL_THE_KEY'
DKS_OPENAI_MODEL = "gpt-4.1-nano"
DKS_OPENAI_MODEL_PROVIDER = "openai"

#AZURE
DKS_AZURE_OPENAI_API_KEY = 'FILL_THE_KEY'
DKS_AZURE_OPENAI_ENDPOINT = 'https://FILL_THEMODEL.openai.azure.com/'
#'https://FILL_THEMODEL.cognitiveservices.azure.com/'
DKS_AZURE_OPENAI_DEPLOYMENT_NAME = 'Is it correct-4.1-nano'
DKS_AZURE_OPENAI_API_VERSION = '2025-01-01-preview'